$fontSizeNormal: 14px;

@font-face {
    font-family: 'NotoSansGeorgian';
    src: url('../fonts/NotoSansGeorgian.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/NotoSansGeorgian.woff') format('woff'), 
    url('../fonts/NotoSansGeorgian.ttf')  format('truetype'), 
    url('../fonts/NotoSansGeorgian.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

.card .card-header .card-title{ font-family: 'NotoSansGeorgian' !important; }
.card label{ font-family: 'NotoSansGeorgian' !important; }
.btn-round{ font-family: 'NotoSansGeorgian' !important; }
.navbar .form-group .form-control, 
.navbar .input-group .form-control{
	font-family: 'NotoSansGeorgian' !important; 
}
.sidebar .nav p, .off-canvas-sidebar .nav p{
	font-family: 'NotoSansGeorgian' !important;
	font-size: $fontSizeNormal;
}

.navbar .navbar-collapse .nav-item a{
	font-family: 'NotoSansGeorgian' !important;
}

.card-stats .card-body .numbers .card-category{
	font-family: 'NotoSansGeorgian' !important;
}

.card-stats .card-footer .stats a{
	font-family: 'NotoSansGeorgian' !important;	
}

.form-group .form-control, .input-group .form-control{
    font-family: 'NotoSansGeorgian' !important; 
}